JSON  exercise
## Please scroll down to the bottom for the update using json_normalize function
Springboard Data Science Carrer track Chapter 5.2 JSON Based Data Exercises

** Submitted by: Pan Chen**

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# 1. Find the 10 countries with most projects

In [1]:
#1. Find the 10 countries with most projects
#import packages
import json
import pandas as pd
pd.reset_option('all') 

#load json file
df = pd.read_json('data/world_bank_projects.json')

#find the value counts of each country
print(df['countryshortname'].value_counts(dropna=False)[0:10])

'''(['China', 'Indonesia', 'Vietnam', 'India', 'Yemen, Republic of',
       'Morocco', 'Bangladesh', 'Nepal', 'Africa', 'Mozambique']
       are 10 countries with most projects
       '''

height has been deprecated.

line_width has been deprecated, use display.width instead (currently both are
identical)

/Users/cpkoywk/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  """

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Nepal                 12
Bangladesh            12
Morocco               12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

"(['China', 'Indonesia', 'Vietnam', 'India', 'Yemen, Republic of',\n       'Morocco', 'Bangladesh', 'Nepal', 'Africa', 'Mozambique']\n       are 10 countries with most projects\n       "

10 Countries with most projects are: 'China', 'Indonesia', 'Vietnam', 'India', 'Yemen, Republic of','Morocco', 'Bangladesh', 'Nepal', 'Africa', and 'Mozambique'

# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')
# 3. Above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Firstly, use json_normalize function to flatten "mjtheme_namecode" column and store it into a dtaframe

In [63]:
from pandas.io.json import json_normalize
# Load JSON: json_data
with open("data/world_bank_projects.json") as json_file:
    json_data=json.load(json_file)

themedf=json_normalize(json_data, 'mjtheme_namecode',['id'])
themedf=themedf.replace('', np.nan)
themedf

     code                                          name       id
0       8                             Human development  P129828
1      11                                           NaN  P129828
2       1                           Economic management  P144674
3       6         Social protection and risk management  P144674
4       5                         Trade and integration  P145310
5       2                      Public sector governance  P145310
6      11  Environment and natural resources management  P145310
7       6         Social protection and risk management  P145310
8       7                   Social dev/gender/inclusion  P144665
9       7                   Social dev/gender/inclusion  P144665
10      5                         Trade and integration  P144933
11      4      Financial and private sector development  P144933
12      6         Social protection and risk management  P146161
13      6                                           NaN  P146161
14      2                      Public sector governance  P121185
15      4      Financial and private sector development  P121185
16     11  Environment and natural resources management  P127033
17      8                                           NaN  P127033
18     10                             Rural development  P130164
19      7                                           NaN  P130164
20      2                      Public sector governance  P130903
21      2                      Public sector governance  P130903
22      2                      Public sector governance  P130903
23     10                             Rural development  P145339
24      2                                           NaN  P145339
25     10                             Rural development  P146653
26      6         Social protection and risk management  P146653
27      6         Social protection and risk management  P146653
28     11  Environment and natural resources management  P146653
29      4                                           NaN  P144140
...   ...                                           ...      ...
1469    8                             Human development  P126465
1470    9                             Urban development  P128763
1471    6         Social protection and risk management  P128763
1472    6         Social protection and risk management  P128763
1473    9                             Urban development  P128763
1474    2                      Public sector governance  P131860
1475    2                      Public sector governance  P131860
1476   10                             Rural development  P123322
1477   11                                           NaN  P123322
1478    8                             Human development  P128096
1479    7                   Social dev/gender/inclusion  P128096
1480   11  Environment and natural resources management  P132138
1481    5                                           NaN  P132138
1482    6         Social protection and risk management  P129177
1483    8                                           NaN  P129177
1484    4      Financial and private sector development  P127299
1485    7                   Social dev/gender/inclusion  P127299
1486    8                             Human development  P125298
1487    5                         Trade and integration  P125298
1488    2                      Public sector governance  P125298
1489    8                             Human development  P125298
1490   10                             Rural development  P128309
1491    6                                           NaN  P128309
1492   10                             Rural development  P117243
1493   10                             Rural development  P117243
1494   10                             Rural development  P117243
1495    9                             Urban development  P126321
1496    8                             Human development  P126321
1497    5                         Trade and integration  P126321
1498    4      Financial and private sector development  P126321

[1499 rows x 3 columns]

There are some missing values of theme name, so I will create a dictionary first, so the dataframe could look up the missing values in the dictionary and fill them in

In [64]:
import numpy as np

#get a dictionary of code and name
uniqueproj=themedf.replace('',np.nan).dropna().drop_duplicates()
uniqueproj=uniqueproj.set_index('code')
uniqueprojdict=uniqueproj.to_dict('dict')
uniqueprojdict=uniqueprojdict['name']
uniqueprojdict

{'1': 'Economic management',
 '10': 'Rural development',
 '11': 'Environment and natural resources management',
 '2': 'Public sector governance',
 '3': 'Rule of law',
 '4': 'Financial and private sector development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '8': 'Human development',
 '9': 'Urban development'}

Look up the missing values and fill the dictionary:

In [218]:
themedf.name = themedf.name.fillna(themedf.code.map(uniqueprojdict))
#themedf['mjtheme_namecode']=''

In [219]:
for ind, row in themedf.iterrows():
    themedf['mjtheme_namecode'][ind]={'code':themedf['code'][ind],'name':themedf['name'][ind]}

In [220]:
agg=themedf.groupby('id')
aggdf=agg['mjtheme_namecode'].apply(lambda x: [x])
aggdf=aggdf.reset_index()
aggdf.mjtheme_namecode=aggdf.mjtheme_namecode.apply(lambda x: list(x[0]))

df=df.sort_values(by='id')
aggdf=aggdf.sort_values(by='id')

df['mjtheme_namecode']=aggdf['mjtheme_namecode']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
#define a function re-fill all the values in 'mjtheme_namecode' column 
#according to the DataFrame above
def fillna(li):
    for di in li:
        di['name']=uniqueproj.loc[di['code'],'name']
    return li
    
df.mjtheme_namecode.apply(fillna)

#run the process in question 2 again to see if we got blanks this time:
#create a list with all of the mjtheme_namecode column values
tmp=df['mjtheme_namecode'].values.tolist()
#flatten the list
tmp=sum(tmp,[])
#make a pandas DataFrame from the list
projectcodedf=pd.DataFrame(tmp)
print('number of blank names:{}'.format(sum(projectcodedf.name=='')))

#No blank values now

#fill df.mjtheme's NA
def fillna2(li):
    mjtheme=[]
    for di in li:
        mjtheme.append(uniqueproj.loc[di['code'],'name'])
    return mjtheme

df.mjtheme=df.mjtheme_namecode.apply(fillna2)

#Now both 'mjtheme' and 'mjtheme_namecode' columns' blanks are filled with appropriate values
print(df.head(20))

'''
Mission accomplished on "df" DataFrame 
'''