# JSON  exercise
## Please scroll down to the bottom for the update using json_normalize function

Springboard Data Science Carrer track Chapter 5.2 JSON Based Data Exercises

** Submitted by: Pan Chen**

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## 1. Find the 10 countries with most projects

In [17]:
#1. Find the 10 countries with most projects
#import packages
import json
import pandas as pd
pd.reset_option('all') 

#load json file
df = pd.read_json('data/world_bank_projects.json')

#find the value counts of each country
print(df['countryshortname'].value_counts(dropna=False)[0:10])

'''(['China', 'Indonesia', 'Vietnam', 'India', 'Yemen, Republic of',
       'Morocco', 'Bangladesh', 'Nepal', 'Africa', 'Mozambique']
       are 10 countries with most projects
       '''

height has been deprecated.

line_width has been deprecated, use display.width instead (currently both are
identical)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

/Users/cpkoywk/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning:
mpl_style had been deprecated and will be removed in a future version.
Use `matplotlib.pyplot.style.use` instead.

  """

"(['China', 'Indonesia', 'Vietnam', 'India', 'Yemen, Republic of',\n       'Morocco', 'Bangladesh', 'Nepal', 'Africa', 'Mozambique']\n       are 10 countries with most projects\n       "

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [3]:
#print(df['mjtheme_namecode'].value_counts(dropna=False))

#inspect a mj_theme_namecode
print(df['mjtheme_namecode'][0])

# it looks like each mjtheme_namecode cell contains a list that contains one or many dictionaries
# each dictionary represents one project theme

#create a list with all of the mjtheme_namecode column values
tmp=df['mjtheme_namecode'].values.tolist()
#flatten the list
tmp=sum(tmp,[])
#make a pandas DataFrame from the list
projectcodedf=pd.DataFrame(tmp)
#check the 10 most frequent theme code:
print(projectcodedf['code'].value_counts(dropna=False)[0:10])

'''
Project codes '11', '10', '8', '2', '6', '4', '7', '5', '9', '1' are the top 10
'''

[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: code, dtype: int64

"\nProject codes '11', '10', '8', '2', '6', '4', '7', '5', '9', '1' are the top 10\n"

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [18]:
import numpy as np

print('number of blank names:{}'.format(sum(projectcodedf.name=='')))

#get a DataFrame of code and name
uniqueproj=projectcodedf.replace('',np.nan).dropna().drop_duplicates()
uniqueproj=uniqueproj.set_index('code')
uniqueproj

number of blank names:122

                                              name
code
8                                Human development
1                              Economic management
6            Social protection and risk management
5                            Trade and integration
2                         Public sector governance
11    Environment and natural resources management
7                      Social dev/gender/inclusion
4         Financial and private sector development
10                               Rural development
9                                Urban development
3                                      Rule of law

In [29]:
from pandas.io.json import json_normalize
json_normalize(df.mjtheme_namecode.values)

AttributeError: 'list' object has no attribute 'values'

In [32]:
# Load JSON: json_data
with open("data/world_bank_projects.json") as json_file:
    json_data=json.load(json_file)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [26]:
#define a function re-fill all the values in 'mjtheme_namecode' column 
#according to the DataFrame above
def fillna(li):
    for di in li:
        di['name']=uniqueproj.loc[di['code'],'name']
    return li
    
df.mjtheme_namecode.apply(fillna)

#run the process in question 2 again to see if we got blanks this time:
#create a list with all of the mjtheme_namecode column values
tmp=df['mjtheme_namecode'].values.tolist()
#flatten the list
tmp=sum(tmp,[])
#make a pandas DataFrame from the list
projectcodedf=pd.DataFrame(tmp)
print('number of blank names:{}'.format(sum(projectcodedf.name=='')))

#No blank values now

#fill df.mjtheme's NA
def fillna2(li):
    mjtheme=[]
    for di in li:
        mjtheme.append(uniqueproj.loc[di['code'],'name'])
    return mjtheme

df.mjtheme=df.mjtheme_namecode.apply(fillna2)

#Now both 'mjtheme' and 'mjtheme_namecode' columns' blanks are filled with appropriate values
print(df.head(20))

'''
Mission accomplished on "df" DataFrame 
'''

number of blank names:0

                                     _id  approvalfy board_approval_month  \
0   {'$oid': '52b213b38594d8a2be17c780'}        1999             November
1   {'$oid': '52b213b38594d8a2be17c781'}        2015             November
2   {'$oid': '52b213b38594d8a2be17c782'}        2014             November
3   {'$oid': '52b213b38594d8a2be17c783'}        2014              October
4   {'$oid': '52b213b38594d8a2be17c784'}        2014              October
5   {'$oid': '52b213b38594d8a2be17c785'}        2014              October
6   {'$oid': '52b213b38594d8a2be17c786'}        2014              October
7   {'$oid': '52b213b38594d8a2be17c787'}        2014              October
8   {'$oid': '52b213b38594d8a2be17c788'}        2014              October
9   {'$oid': '52b213b38594d8a2be17c789'}        2014              October
10  {'$oid': '52b213b38594d8a2be17c78a'}        2014              October
11  {'$oid': '52b213b38594d8a2be17c78b'}        2014              October
12  {'$oid': '52b213b38594d8a2be17c78c'}        2014              October
13  {'$oid': '52b213b38594d8a2be17c78d'}        2014              October
14  {'$oid': '52b213b38594d8a2be17c78e'}        2014              October
15  {'$oid': '52b213b38594d8a2be17c78f'}        2014              October
16  {'$oid': '52b213b38594d8a2be17c790'}        2014              October
17  {'$oid': '52b213b38594d8a2be17c791'}        2014              October
18  {'$oid': '52b213b38594d8a2be17c792'}        2014              October
19  {'$oid': '52b213b38594d8a2be17c793'}        2014              October

       boardapprovaldate                                 borrower  \
0   2013-11-12T00:00:00Z  FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA
1   2013-11-04T00:00:00Z                    GOVERNMENT OF TUNISIA
2   2013-11-01T00:00:00Z   MINISTRY OF FINANCE AND ECONOMIC DEVEL
3   2013-10-31T00:00:00Z   MIN. OF PLANNING AND INT'L COOPERATION
4   2013-10-31T00:00:00Z                      MINISTRY OF FINANCE
5   2013-10-31T00:00:00Z                        REPUBLIC OF KENYA
6   2013-10-29T00:00:00Z                      GOVERNMENT OF INDIA
7   2013-10-29T00:00:00Z               PEOPLE'S REPUBLIC OF CHINA
8   2013-10-29T00:00:00Z                  THE GOVERNMENT OF INDIA
9   2013-10-29T00:00:00Z                   THE KINGDOM OF MOROCCO
10  2013-10-25T00:00:00Z                GOVERNMENT OF SOUTH SUDAN
11  2013-10-25T00:00:00Z                                      NaN
12  2013-10-24T00:00:00Z                      GOVERNMENT OF GHANA
13  2013-10-22T00:00:00Z                GOVERNMENT OF TIMOR LESTE
14  2013-10-22T00:00:00Z                     GOVERNMENT OF JORDAN
15  2013-10-17T00:00:00Z                      MINISTRY OF FINANCE
16  2013-10-17T00:00:00Z                      MINISTRY OF FINANCE
17  2013-10-16T00:00:00Z     MINISTRY OF FINANCE AND BUDGET (MFB)
18  2013-10-16T00:00:00Z             ROYAL GOVERNMENT OF CAMBODIA
19  2013-10-10T00:00:00Z                      MINISTRY OF FINANCE

             closingdate                              country_namecode  \
0   2018-07-07T00:00:00Z  Federal Democratic Republic of Ethiopia!$!ET
1                    NaN                      Republic of Tunisia!$!TN
2                    NaN                                   Tuvalu!$!TV
3                    NaN                        Republic of Yemen!$!RY
4   2019-04-30T00:00:00Z                       Kingdom of Lesotho!$!LS
5                    NaN                        Republic of Kenya!$!KE
6   2019-06-30T00:00:00Z                        Republic of India!$!IN
7                    NaN               People's Republic of China!$!CN
8   2018-12-31T00:00:00Z                        Republic of India!$!IN
9   2014-12-31T00:00:00Z                       Kingdom of Morocco!$!MA
10                   NaN                  Republic of South Sudan!$!SS
11  2017-12-31T00:00:00Z                        Republic of India!$!IN
12  2019-06-30T00:00:00Z                        Republic of Ghana!$!GH
13                   NaN       Democratic Republic of Timor-Leste!$!TP
14                   NaN              Hashemite Kingdom of Jordan!$!JO
15  2019-04-30T00:00:00Z                                    Samoa!$!WS
16  2015-12-31T00:00:00Z                                    Samoa!$!WS
17                   NaN                   Republic of Madagascar!$!MG
18                   NaN                      Kingdom of Cambodia!$!KH
19                   NaN                       Kingdom of Morocco!$!MA

   countrycode                              countryname    countryshortname  \
0           ET  Federal Democratic Republic of Ethiopia            Ethiopia
1           TN                      Republic of Tunisia             Tunisia
2           TV                                   Tuvalu              Tuvalu
3           RY                        Republic of Yemen  Yemen, Republic of
4           LS                       Kingdom of Lesotho             Lesotho
5           KE                        Republic of Kenya               Kenya
6           IN                        Republic of India               India
7           CN               People's Republic of China               China
8           IN                        Republic of India               India
9           MA                       Kingdom of Morocco             Morocco
10          SS                  Republic of South Sudan         South Sudan
11          IN                        Republic of India               India
12          GH                        Republic of Ghana               Ghana
13          TP       Democratic Republic of Timor-Leste         Timor-Leste
14          JO              Hashemite Kingdom of Jordan              Jordan
15          WS                                    Samoa               Samoa
16          WS                                    Samoa               Samoa
17          MG                   Republic of Madagascar          Madagascar
18          KH                      Kingdom of Cambodia            Cambodia
19          MA                       Kingdom of Morocco             Morocco

                          ...                              sectorcode source  \
0                         ...                             ET,BS,ES,EP   IBRD
1                         ...                                   BZ,BS   IBRD
2                         ...                                      TI   IBRD
3                         ...                                      JB   IBRD
4                         ...                                FH,YW,YZ   IBRD
5                         ...                                      JB   IBRD
6                         ...                                      TI   IBRD
7                         ...                                      LR   IBRD
8                         ...                                      TI   IBRD
9                         ...                                BM,BC,BZ   IBRD
10                        ...                                AZ,JB,AH   IBRD
11                        ...                             JB,YC,WD,TI   IBRD
12                        ...                                      CZ   IBRD
13                        ...                                   BV,TI   IBRD
14                        ...                                      JB   IBRD
15                        ...                                      TI   IBRD
16                        ...                                AZ,AJ,AH   IBRD
17                        ...                                      EP   IBRD
18                        ...                          BK,JB,BH,BC,JA   IBRD
19                        ...                                BH,BC,BZ   IBRD

    status  supplementprojectflg  \
0   Active                     N
1   Active                     N
2   Active                     Y
3   Active                     N
4   Active                     N
5   Active                     Y
6   Active                     N
7   Active                     N
8   Active                     N
9   Active                     N
10  Active                     Y
11  Active                     N
12  Active                     N
13  Active                     Y
14  Active                     N
15  Active                     N
16  Active                     N
17  Active                     N
18  Active                     Y
19  Active                     N

                                               theme1  \
0       {'Percent': 100, 'Name': 'Education for all'}
1   {'Percent': 30, 'Name': 'Other economic manage...
2     {'Percent': 46, 'Name': 'Regional integration'}
3   {'Percent': 50, 'Name': 'Participation and civ...
4   {'Percent': 30, 'Name': 'Export development an...
5      {'Percent': 100, 'Name': 'Social safety nets'}
6   {'Percent': 20, 'Name': 'Administrative and ci...
7          {'Percent': 100, 'Name': 'Climate change'}
8   {'Percent': 87, 'Name': 'Other rural developme...
9   {'Percent': 33, 'Name': 'Other accountability/...
10  {'Percent': 100, 'Name': 'Global food crisis r...
11  {'Percent': 60, 'Name': 'Rural services and in...
12                         {'Percent': 0, 'Name': ''}
13    {'Percent': 20, 'Name': 'Regional integration'}
14      {'Percent': 50, 'Name': 'Social safety nets'}
15  {'Percent': 60, 'Name': 'Rural services and in...
16  {'Percent': 100, 'Name': 'Other rural developm...
17      {'Percent': 100, 'Name': 'Education for all'}
18            {'Percent': 17, 'Name': 'Child health'}
19  {'Percent': 40, 'Name': 'Public expenditure, f...

                                       theme_namecode       themecode  \
0       [{'code': '65', 'name': 'Education for all'}]              65
1   [{'code': '24', 'name': 'Other economic manage...           54,24
2   [{'code': '47', 'name': 'Regional integration'...     52,81,25,47
3   [{'code': '57', 'name': 'Participation and civ...           59,57
4   [{'code': '45', 'name': 'Export development an...           41,45
5      [{'code': '54', 'name': 'Social safety nets'}]              54
6   [{'code': '25', 'name': 'Administrative and ci...           39,25
7          [{'code': '81', 'name': 'Climate change'}]              81
8   [{'code': '79', 'name': 'Other rural developme...              79
9   [{'code': '29', 'name': 'Other accountability/...        27,30,29
10  [{'code': '91', 'name': 'Global food crisis re...              91
11  [{'code': '78', 'name': 'Rural services and in...     81,87,52,78
12                                                NaN             NaN
13  [{'code': '47', 'name': 'Regional integration'...        78,81,47
14  [{'code': '54', 'name': 'Social safety nets'},...        53,56,54
15  [{'code': '78', 'name': 'Rural services and in...        49,81,78
16  [{'code': '79', 'name': 'Other rural developme...              79
17      [{'code': '65', 'name': 'Education for all'}]              65
18  [{'code': '63', 'name': 'Child health'}, {'cod...  69,57,25,67,63
19  [{'code': '27', 'name': 'Public expenditure, f...        25,26,27

     totalamt totalcommamt                                                url
0   130000000    130000000  http://www.worldbank.org/projects/P129828/ethi...
1           0      4700000  http://www.worldbank.org/projects/P144674?lang=en
2     6060000      6060000  http://www.worldbank.org/projects/P145310?lang=en
3           0      1500000  http://www.worldbank.org/projects/P144665?lang=en
4    13100000     13100000  http://www.worldbank.org/projects/P144933/seco...
5    10000000     10000000  http://www.worldbank.org/projects/P146161?lang=en
6   500000000    500000000  http://www.worldbank.org/projects/P121185/firs...
7           0     27280000  http://www.worldbank.org/projects/P127033/chin...
8   160000000    160000000  http://www.worldbank.org/projects/P130164/raja...
9   200000000    200000000  http://www.worldbank.org/projects/P130903?lang=en
10          0      7530000  http://www.worldbank.org/projects/P145339?lang=en
11  250000000    250000000  http://www.worldbank.org/projects/P146653?lang=en
12   97000000     97000000  http://www.worldbank.org/projects/P144140/gh-e...
13   40000000     40000000  http://www.worldbank.org/projects/P130975/timo...
14          0      9500000  http://www.worldbank.org/projects/P144832?lang=en
15   20000000     20000000  http://www.worldbank.org/projects/P145545?lang=en
16    5000000      5000000  http://www.worldbank.org/projects/P145938?lang=en
17          0     85400000  http://www.worldbank.org/projects/P132616?lang=en
18          0     13450000  http://www.worldbank.org/projects/P146271?lang=en
19          0      4350000  http://www.worldbank.org/projects/P143979?lang=en

[20 rows x 50 columns]

'\nMission accomplished on "df" DataFrame \n'

TypeError: string indices must be integers

In [16]:
type(df.mjtheme_namecode.values)

numpy.ndarray